.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  display: none;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* Page-level base: visual theme handled by site styles (custom.css) */
body {
  background: none;
  color: inherit;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-family: var(--body-font);
}

/* Scoped page header to match site masthead */
#pokeSearch-page h1, #pokeSearch-page .masthead-heading {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

#pokeSearch-page {
  text-align: center;
}

#pokeDetails > img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 767px){
  #pokeDetails > img {
    width: 14%;
    height: auto;
  }
}

@media only screen and (min-width: 1025px){ 
  .Stats {
    position: absolute;
    width: 27%;
    left: 7%;
    top: 17%;
    margin-top: 0px !important;
    overflow: hidden;
  }
}

progress {
  width: 75%;
  height: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
  background: rgb(40, 172, 102);
  border-radius: 20px;
}

.Stats {
  border-radius: 30px 30px 30px 30px;
  background: transparent;
  border: 5px solid black;
  padding: 2px;
  height: auto;
  margin-top: 8px;
}

.Stats > p {
  margin-top: 1px;
  margin-bottom: -15.2px;
  font-size: 15px;
}

#boxed-description {
  border-radius: 30px 30px 30px 30px;
  background: transparent;
  border: 5px solid black;
  padding: 5px;
  width: 60%;
  height: auto; 
  display: inline-block;
}

@media only screen and (min-width: 1025px){ 
  #base-stats {
    position: relative;
    text-align: center;
    color: white;
  }
}

.Abilities {
  border-radius: 30px 30px 30px 30px;
  background: transparent;
  border: 5px solid black;
  padding: 2px;
  width: 60%;
  margin-bottom: 5px;
  display: inline-block;
}

.Abilities > p {
  margin: 2px;
}

.Abilities > h3 {
  margin: 0; 
  text-decoration: underline;
  margin-bottom: 5px;
}

@media only screen and (min-width: 1025px){
  .Abilities {
    position: absolute;
    width: 27%;
    left: 65%;
    top: 17%;
    margin-top: 0px !important;
    overflow: hidden;
  }
}