html {
  background: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%) no-repeat center center fixed;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.boxed {
  border-radius: 15px 50px 30px 0px;
  background: rgb(235, 146, 94);
  border: 5px solid black;
  padding: 20px; 
  width: 650px;
  height: auto; 
  display: inline-block;
  }

body {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  min-height: 100%;
  width: 100%;
}

p { 
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; 
  font-size: 23px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
display: block;
text-align: center;
text-decoration: none;
float: left;
padding: 3px;
}

img {
  width: 2.5rem;
}